In [25]:
import pandas as pd

from sqlalchemy import create_engine

In [35]:
# Connect to sqlite db
db_file = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [36]:
#find out what tables are in the database
sql = "SELECT * FROM sqlite_master WHERE type = 'table';"

table_names = pd.read_sql(sql, engine)
table_names

,type,name,tbl_name,rootpage,sql
0,table,BoardGames,BoardGames,2,"CREATE TABLE ""BoardGames"" (\n ""row_names"" TEX..."
1,table,bgg.ldaOut.topics,bgg.ldaOut.topics,128639,"CREATE TABLE ""bgg.ldaOut.topics"" (\n ""row_nam..."
2,table,bgg.ldaOut.top.terms,bgg.ldaOut.top.terms,129442,"CREATE TABLE ""bgg.ldaOut.top.terms"" (\n ""row_..."
3,table,bgg.ldaOut.top.documents,bgg.ldaOut.top.documents,129454,"CREATE TABLE ""bgg.ldaOut.top.documents"" (\n ""..."
4,table,bgg.topics,bgg.topics,129468,"CREATE TABLE ""bgg.topics"" (\n ""row_names"" TEX..."

In [50]:
#Count number of rows in one column
sql = "SELECT COUNT(*) as RowCount FROM BoardGames "

RowCount = pd.read_sql(sql, engine)
RowCount

   RowCount
0     90400

In [47]:
#get everything from table BoardGames    
sql = "SELECT * FROM BoardGames;"
sales_data_df = pd.read_sql(sql, engine)
sales_data_df

In [46]:
#Number of Column of table BoardGames
len(sales_data_df.columns)

81